.avatarIcon {
  width: 36px;
  position: relative;
  height: 36px;
}
.infos,
.thread {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.infos {
  align-items: flex-start;
}
.paperclipIcon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.actions1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.sendIcon {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.actions,
.actions2 {
  display: flex;
  flex-direction: row;
}
.actions2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-5xs) var(--padding-6xs);
  background-color: var(--background-alt);
  border-radius: var(--br-21xl);
  align-items: center;
  justify-content: center;
}
.actions {
  align-self: stretch;
  align-items: flex-start;
  justify-content: space-between;
}
.feed,
.infosActions,
.threadinput {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.infosActions {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs);
}
.feed,
.threadinput {
  border-bottom: 1px solid var(--border-color);
}
.threadinput {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-base) var(--padding-base)
    var(--padding-xs);
  gap: var(--gap-xs);
}
.feed {
  flex: 1;
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  box-sizing: border-box;
  height: 1230px;
  flex-direction: column;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--text-color);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .feed {
    padding-left: var(--padding-29xl);
    padding-right: var(--padding-29xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .feed {
    padding-left: var(--padding-xs);
    padding-right: var(--padding-xs);
    box-sizing: border-box;
  }
}
